<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn VueJS with REST API</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      table {
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>Users</h1>
      <table class="border mt-20 ml-10">
        <nav
          class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600"
        >
          <div
            class="container flex flex-wrap items-center justify-between mx-auto"
          >
            <a href="index.html" class="flex items-center"
              ><img
                src="Aplikasi-Pinjaman-Online.jpg"
                class="h-6 mr-3 sm:h-9"
                alt="Aplikasi Pinjaman Online"
              /><span
                class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
                >APLIKASI PINJAMAN ONLINE</span
              ></a
            >
           
            <div
              class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
              id="navbar-sticky"
            >
              <ul
                class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
              >
                <li>
                  <a
                    href="index.html"
                    class="block py-2 pl-3 pr-4 text-gray-700 bg-blue-700 rounded md:bg-transparent md:p-0 dark:text-white"
                    aria-current="page"
                    >Users</a
                  >
                </li>
                <li>
                  <a
                    href="services.html"
                    class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                    >Services</a
                  >
                </li>
                <li>
                  <a
                    href="document.html"
                    class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                    >Document</a
                  >
                </li>
                <li>
                  <a
                    href="transaksi.html"
                    class="block py-2 pl-3 pr-4 text-blue-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                    >Transaksi</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <h1 class="font-bold text-xl mt-24 ml-10">Transaksi</h1>
        <table class="border border-slate-800 ml-10 -mt-12">
        <tr class="border border-slate-800">
          <th class="border border-slate-800">id</th>
          <th class="border border-slate-800">id Nama Peminjam</th>
          <th class="border border-slate-800">id Jumlah Pinjaman</th>
          <th class="border border-slate-800">Tanggal Pinjam</th>
          <th class="border border-slate-800">Tanggal Pengembalian</th>
          <th class="border border-slate-800">Actions</th>
        </tr>
        <tr class="border border-slate-800" v-for="user in users">
          <td class="border border-slate-800 text-center">{{user.id}}</td>
          <td class="border border-slate-800 text-center">{{ user.nama_peminjam_id }}</td>
          <td class="border border-slate-800 text-center">{{ user.jml_pinjaman_id}}</td>
          <td class="border border-slate-800 text-center">{{ user.tgl_pinjam}}</td>
          <td class="border border-slate-800 text-center">{{ user.tgl_pengembalian}}</td>
          <td class="border border-slate-800">
            <button
              @click="getEditTransaksi(user)"
              class="bg-indigo-500 text-white mr-5 rounded-lg px-2"
            >
              Edit
            </button>
            <button
              @click="deleteTransaksi(user)"
              class="bg-indigo-500 text-white rounded-lg px-2"
            >
              Delete
            </button>
          </td>
        </tr>
      </table>

      <div class="flex-1 m-4 p-1 border border-gray-200 rounded-xl bg-indigo-500">
        <form @submit.prevent="" class="mt-5 ml-5">
          <h1 v-if="!isEdit" class="font-bold">Add User</h1>
          <h1 v-if="isEdit">Update User</h1>
          <label class="font-bold">ID Nama peminjam </label>
          <input
            type="number"
            v-model="user.nama_peminjam_id"
            placeholder="masukkan id nama Peminjam"
            class="border border-black w-full rounded"
            required
          /><br />
          <label class="font-bold">id jumlah pinjaman </label>
          <input
            type="number"
            v-model="user.jml_pinjaman_id"
            placeholder="masukkan id jumlah pinjaman"
            class="border border-black w-full rounded"
            required
          /><br />
          <label class="font-bold">Tanggal Pinjam</label>
          <input
            type="date"
            v-model="user.tgl_pinjam"

            class="border border-black w-full rounded"
            required
          />
          <br />
          <label class="font-bold">Tanggal Pengembalian</label>
          <input
            type="date"
            v-model="user.tgl_pengembalian"
            placeholder="tanggal pengembalian"
            class="border border-black w-full rounded"
            required
          />

          <br />
          <button
            v-if="!isEdit"
            @click="addTransaksi"
            type="submit"
            class="bg-indigo-500 text-white rounded-md ml-5 px-5 mt-5 bg-orange-500"
          >
            Add
          </button>
          <button
            v-if="isEdit"
            @click="updateTransaksi"
            type="submit"
            class="bg-indigo-500 text-white rounded-md ml-5 px-5 mt-5 bg-orange-500"
          >
            Update
          </button>
        </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            users: [],
            user: {
              nama_peminjam_id: "",
              jml_pinjaman_id: "",
              tgl_pinjam: "",
              tgl_pengembalian: "",
            },
            isEdit: false,
            userIdSelected: "",
            editMode: false,
          };
        },
        mounted: function () {
          this.getTransaksi();
        },
        methods: {
          getTransaksi() {
            console.log("hi");
            axios
              .get("https://63f21939aab7d09125019077.mockapi.io/Transaksi")
              .then((response) => {
                this.users = response.data;
              })
              .catch((error) => {
                console.log(error);
              });
          },
          addTransaksi: function () {
            axios
              .post("https://63f21939aab7d09125019077.mockapi.io/Transaksi", {
                nama_peminjam_id: this.nama_peminjam_id,
                jml_pinjam_id: this.user.jml_pinjaman_id,
                tgl_pinjam: this.user.tgl_pinjam,
                tgl_pengembalian: this.user.tgl_pengembalian,
              })
              .then((response) => {
                this.getTransaksi();
                alert("New Transaksi has been saved");
                console.log(response);
                this.resetForm();
              })
              .catch((error) => {
                console.log(error);
              });
          },
          getEditTransaksi: function (user) {
            this.isEdit = true;
            this.userIdSelected = user.id;
            this.user.nama_peminjam_id = user.nama_peminjam_id;
            this.user.jml_pinjaman_id = user.jml_pinjaman_id;
            this.tgl_pinjam = user.date();
            this.tgl_pengembalian = user.tgl_pengembalian;
          },
          updateTransaksi: function () {
            axios
              .put(
                `https://63f21939aab7d09125019077.mockapi.io/Transaksi/${this.userIdSelected}`,
                {
                  nama_peminjam_id: this.user.nama_peminjam_id,
                  jml_pinjaman_id: this.user.jml_pinjaman_id,
                  tgl_pinjam: this.user.tgl_pinjam,
                  tgl_pengembalian: this.user.tgl_pengembalian,
                }
              )
              .then((response) => {
                this.getTransaksi();
                alert("Transaksi has been updated");
                console.log(response);
                this.isEdit = false;
                this.resetForm();
              })
              .catch((error) => {
                console.log(error);
              });
          },
          // Delete Transaksi
          deleteTransaksi: function (user) {
            if (confirm("Are you user want to delete this Transaksi?")) {
              axios
                .delete(
                  `https://63f21939aab7d09125019077.mockapi.io/Transaksi/${user.id}`
                )
                .then((res) => {
                  // handle success
                  alert("Transaksi has been deleted");
                  this.Transaksi();
                  this.resetForm();
                })
                .catch((err) => {
                  // handle error
                  console.log(err);
                });
            }
          },
          resetForm: function () {
            this.isEdit = false;
            this.userIdSelected = null;
            this.user.nama_peminjam_id = "";
            this.user.jml_pinjaman_id = "";
            this.user.tgl_pinjam = "";
            this.user.tgl_pengembalian = "";
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
